<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="tracker.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="vitalhope_logo.png"
          alt="Your Website Logo"
          style="height: 40px"
        />
      </div>

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>

      <div class="search-bar">
        <input type="text" placeholder="Search..." />
        <button>Go</button>
      </div>
    </header>
    <section>
      <h2>Select Your Symptoms</h2>
      <form id="symptom-form">
        <label>
          <input type="checkbox" name="symptom" value="Symptom 1" />
          Frequent Urination
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Blood in Urine
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Painful Urination
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Unexplained Weight Loss
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Fatigue
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Breast/Nipple Pain
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Memory Loss
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Confusion
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Menstrual Changes (For Girls Only)
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Swelling in the abdomen
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Symptom 2" />
          Blood in Cough
        </label>

        <div id="additional-symptoms" style="display: none">
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Constipation
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Trouble Swallowing
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 3" />
            Headaches
          </label>

          <label>
            <input type="checkbox" name="symptom" value="Symptom 4" />
            Pelvic Pain
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Changes in Speech
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Growth on skin that doesn't heal
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Painful Urination
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Urgeny to Urinate
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Swelling in the feet
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Urinary incontinence
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Seizures
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Swelling in one or both legs
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Swelling near breast
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Unusual Nipple Discharge
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Loss of appetite
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Blood in urine
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Easy bruising
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Night sweats
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Chest pain
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Dizziness
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Wheezing
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Chest tightness
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Difficulty eating or feeling full quickly
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            A sore that bleeds, oozes or crusts
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Neck swelling
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Hoarseness
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Weakness or fatigue
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            A change in bowel habits, such as diarrhea or constipation
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Rectal pain or a feeling of fullness in the rectum
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Symptom 2" />
            Unusual vaginal discharge
          </label>
          <label>
            <input type="checkbox" name="symptom2" value="Symptom 2" />
            Easy bruising
          </label>
          <!-- add more checkboxes or dropdown lists for additional symptoms -->
        </div>

        <button type="button" id="show-more">Show More Symptoms</button>
        <button type="button" id="hide-more" style="display: none">
          Hide Symptoms
        </button>
        <button type="submit">Submit</button>
      </form>
    </section>
    <section>
      <h2>Possible Cancers</h2>
      <ul>
        <li>Cancer A - 50%</li>
        <li>Cancer B - 30%</li>
        <li>Cancer C - 20%</li>
      </ul>
    </section>
    <footer>
      <p>Copyright &copy; 2023 Your Website Name. All rights reserved.</p>

      <p>
        Contact Us:
        <a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a>
      </p>

      <ul class="social-media">
        <li>
          <a href="#"><img src="facebook_icon.png" alt="Facebook" /></a>
        </li>
        <li>
          <a href="#"><img src="twitter_icon.png" alt="Twitter" /></a>
        </li>
        <li>
          <a href="#"><img src="instagram_icon.png" alt="Instagram" /></a>
        </li>
      </ul>
    </footer>
    <script src="tracker.js"></script>
  </body>
</html>
