<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="tracker.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="vitalhope_logo.png"
          alt="Your Website Logo"
          style="height: 40px"
        />
      </div>

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>

      <div class="search-bar">
        <input type="text" placeholder="Search..." />
        <button>Go</button>
      </div>
    </header>
    <section>
      <h2>Select Your Symptoms</h2>
      <form id="symptom-form">
        <label>
          <input type="checkbox" name="symptom" value="Frequent Urination" />
          Frequent Urination
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Blood in Urine" />
          Blood in Urine
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Painful Urination" />
          Painful Urination
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Unexplained Weight Loss" />
          Unexplained Weight Loss
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Fatigue" />
          Fatigue
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Breast/Nipple Pain" />
          Breast/Nipple Pain
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Memory Loss" />
          Memory Loss
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Confusion" />
          Confusion
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Menstrual Changes" />
          Menstrual Changes
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Swelling in the abdomen" />
          Swelling in the abdomen
        </label>
        <label>
          <input type="checkbox" name="symptom" value="Blood in Cough" />
          Blood in Cough
        </label>

        <div id="additional-symptoms" style="display: none">
          <label>
            <input type="checkbox" name="symptom" value="Constipation" />
            Constipation
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Trouble Swallowing" />
            Trouble Swallowing
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Headaches" />
            Headaches
          </label>

          <label>
            <input type="checkbox" name="symptom" value="Pelvic Pain" />
            Pelvic Pain
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Changes in Speech" />
            Changes in Speech
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Growth on skin that doesn't heal" />
            Growth on skin that doesn't heal
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Painful Urination" />
            Painful Urination
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Urgeny to Urinate" />
            Urgeny to Urinate
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Swelling in the feet" />
            Swelling in the feet
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Urinary incontinence" />
            Urinary incontinence
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Seizures" />
            Seizures
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Swelling in one or both legs" />
            Swelling in one or both legs
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Swelling near breast" />
            Swelling near breast
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Unusual Nipple Discharge" />
            Unusual Nipple Discharge
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Loss of appetite" />
            Loss of appetite
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Blood in urine" />
            Blood in urine
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Easy bruising" />
            Easy bruising
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Night sweats" />
            Night sweats
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Chest pain" />
            Chest pain
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Dizziness" />
            Dizziness
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Wheezing" />
            Wheezing
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Chest tightness" />
            Chest tightness
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Difficulty eating or feeling full quickly" />
            Difficulty eating or feeling full quickly
          </label>
          <label>
            <input type="checkbox" name="symptom" value="A sore that bleeds, oozes or crusts" />
            A sore that bleeds, oozes or crusts
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Neck swelling" />
            Neck swelling
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Hoarseness" />
            Hoarseness
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Weakness or fatigue" />
            Weakness or fatigue
          </label>
          <label>
            <input type="checkbox" name="symptom" value="A change in bowel habits, such as diarrhea or constipation" />
            A change in bowel habits, such as diarrhea or constipation
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Rectal pain or a feeling of fullness in the rectum" />
            Rectal pain or a feeling of fullness in the rectum
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Unusual vaginal discharge" />
            Unusual vaginal discharge
          </label>
          <label>
            <input type="checkbox" name="symptom" value="Easy bruising" />
            Easy bruising
          </label>
          <!-- add more checkboxes or dropdown lists for additional symptoms -->
        </div>

        <button type="button" id="show-more">Show More Symptoms</button>
        <button type="button" id="hide-more" style="display: none">
          Hide Symptoms
        </button>
        <button type="button" onclick="bothSelectedSymptoms()">Submit</button>
      </form>
    </section>
    <!-- <section>
      <h2>Possible Cancers</h2>
      <ul>
        <li>Cancer A - 50%</li>
        <li>Cancer B - 30%</li>
        <li>Cancer C - 20%</li>
      </ul>
    </section> -->
    <!-- <footer>
      <p>Copyright &copy; 2023 Your Website Name. All rights reserved.</p>

      <p>
        Contact Us:
        <a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a>
      </p>

      <ul class="social-media">
        <li>
          <a href="#"><img src="facebook_icon.png" alt="Facebook" /></a>
        </li>
        <li>
          <a href="#"><img src="twitter_icon.png" alt="Twitter" /></a>
        </li>
        <li>
          <a href="#"><img src="instagram_icon.png" alt="Instagram" /></a>
        </li>
      </ul>
    </footer> -->
    <script src="tracker.js"></script>
  </body>
</html>
