<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
initial-scale=1.0"
    />
    <title>Educational Resources</title>
    <link rel="stylesheet" href="glassMorphism.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap
"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card1">
          <div class="content">
            <h2>1</h2>
            <h3>Breast Cancer</h3>
            <p>
              
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card2">
          <div class="content">
            <h2>2</h2>
            <h3>Lung Cancer</h3>
            <p>
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card3">
          <div class="content">
            <h2>3</h2>
            <h3>Throat cancer</h3>
            <p>
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card4">
          <div class="content">
            <h2>4</h2>
            <h3>Prostate cancer</h3>
            <p>
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card5">
          <div class="content">
            <h2>5</h2>
            <h3>Brain cancer</h3>
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <h1>Cancer Educational Resources</h1>
    <script type="text/javascript" src="glassMorphism.js"></script>
    <script type="text/javascript">
      VanillaTilt.init(document.querySelectorAll(".card"), {
        max: 25,
        speed: 400,
        glare: true,
        "max-glare": 0.7,
      });
    </script>
  </body>
</html>
