@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #ececec;
}
.UserProfileCard {
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    top: 5em;
    left: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 23%;
    height: 150px;
    background-color: #328bff;
    color: #d0e5ff;
    overflow-x: hidden;
    flex-direction: column;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
}
  
.Card {
    /* margin-left: 55px; */
    font-size: 20px;
    font-weight: 600;
    color: #F5F9FE;
}
.age{
    position: relative;
    left: -3%;
    top: -2.5em;
    font-size: 12px;
}
.bottom_Card{
    display: flex;
    position: relative;
    top: -22.5%;
    left: -11%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    color: #acd0ff;
    font-weight: bold;
}
.height,
.weight,
.bloodType {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.height:after{
  content: " cm";
}
.weight:after {
  content: " kg";
} 